# Getting Started with BigQuery SQL Searches
First we need to install some packages and load the BigQuery extension.

In [3]:
!pip install google.cloud.bigquery
!pip install google.cloud.storage
!pip3 install --upgrade google-cloud-bigquery

!pip install google --user
!pip install --upgrade 'google-cloud-bigquery[bqstorage,pandas]' --user

%load_ext google.cloud.bigquery

Collecting google.cloud.bigquery
  Using cached https://files.pythonhosted.org/packages/fd/2a/d53b342d20e4b95ade480fa04977969166bb189bf0e909501e4fff86cb3f/google_cloud_bigquery-2.25.1-py2.py3-none-any.whl
Requirement already satisfied: google-cloud-core<3.0.0dev,>=1.4.1 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.bigquery) (1.7.2)
Requirement already satisfied: packaging>=14.3 in /opt/tljh/user/lib/python3.7/site-packages (from google.cloud.bigquery) (21.0)
Requirement already satisfied: proto-plus>=1.10.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.bigquery) (1.19.0)
Requirement already satisfied: google-api-core[grpc]<3.0.0dev,>=1.29.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.bigquery) (1.31.1)
Requirement already satisfied: grpcio<2.0dev,>=1.38.1 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.bigquery) (1.39.0)
Requirement already satisfied: protobuf>=3.12.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.bigquery) (3.17.3)
Requirement already satisfied: google-resumable-media<3.0dev,>=0.6.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.bigquery) (1.3.3)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /opt/tljh/user/lib/python3.7/site-packages (from google.cloud.bigquery) (2.22.0)
Requirement already satisfied: google-auth<2.0dev,>=1.24.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-cloud-core<3.0.0dev,>=1.4.1->google.cloud.bigquery) (1.34.0)
Requirement already satisfied: six>=1.12.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-cloud-core<3.0.0dev,>=1.4.1->google.cloud.bigquery) (1.16.0)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/tljh/user/lib/python3.7/site-packages (from packaging>=14.3->google.cloud.bigquery) (2.4.7)
Requirement already satisfied: setuptools>=40.3.0 in /opt/tljh/user/lib/python3.7/site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google.cloud.bigquery) (41.0.1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google.cloud.bigquery) (1.53.0)
Requirement already satisfied: pytz in /opt/tljh/user/lib/python3.7/site-packages (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google.cloud.bigquery) (2021.1)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-resumable-media<3.0dev,>=0.6.0->google.cloud.bigquery) (1.1.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.bigquery) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.bigquery) (1.25.11)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.bigquery) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.bigquery) (2021.5.30)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google.cloud.bigquery) (4.2.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google.cloud.bigquery) (4.7.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-auth<2.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google.cloud.bigquery) (0.2.8)
Requirement already satisfied: cffi>=1.0.0 in /opt/tljh/user/lib/python3.7/site-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<3.0dev,>=0.6.0->google.cloud.bigquery) (1.12.3)
Requirement already satisfied: pyasn1>=0.1.3 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<2.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google.cloud.bigquery) (0.4.8)
Requirement already satisfied: pycparser in /opt/tljh/user/lib/python3.7/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<3.0dev,>=0.6.0->google.cloud.bigquery) (2.19)
Installing collected packages: google.cloud.bigquery
ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/opt/tljh/user/lib/python3.7/site-packages/google_cloud_bigquery-2.25.1-py3.9-nspkg.pth'
Consider using the `--user` option or check the permissions.

Collecting google.cloud.storage
  Using cached https://files.pythonhosted.org/packages/0e/d6/5878d73105fd242dafb42bbea26629372d397f06cb402e90302a4824c2c2/google_cloud_storage-1.42.0-py2.py3-none-any.whl
Requirement already satisfied: google-auth<3.0dev,>=1.25.0; python_version >= "3.6" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.storage) (1.34.0)
Requirement already satisfied: google-api-core<3.0dev,>=1.29.0; python_version >= "3.6" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.storage) (1.31.1)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /opt/tljh/user/lib/python3.7/site-packages (from google.cloud.storage) (2.22.0)
Requirement already satisfied: google-resumable-media<3.0dev,>=1.3.0; python_version >= "3.6" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.storage) (1.3.3)
Requirement already satisfied: google-cloud-core<3.0dev,>=1.6.0; python_version >= "3.6" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google.cloud.storage) (1.7.2)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0; python_version >= "3.6"->google.cloud.storage) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0; python_version >= "3.6"->google.cloud.storage) (4.2.2)
Requirement already satisfied: six>=1.9.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0; python_version >= "3.6"->google.cloud.storage) (1.16.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0; python_version >= "3.6"->google.cloud.storage) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /opt/tljh/user/lib/python3.7/site-packages (from google-auth<3.0dev,>=1.25.0; python_version >= "3.6"->google.cloud.storage) (41.0.1)
Requirement already satisfied: pytz in /opt/tljh/user/lib/python3.7/site-packages (from google-api-core<3.0dev,>=1.29.0; python_version >= "3.6"->google.cloud.storage) (2021.1)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-api-core<3.0dev,>=1.29.0; python_version >= "3.6"->google.cloud.storage) (1.53.0)
Requirement already satisfied: packaging>=14.3 in /opt/tljh/user/lib/python3.7/site-packages (from google-api-core<3.0dev,>=1.29.0; python_version >= "3.6"->google.cloud.storage) (21.0)
Requirement already satisfied: protobuf>=3.12.0 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-api-core<3.0dev,>=1.29.0; python_version >= "3.6"->google.cloud.storage) (3.17.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.storage) (1.25.11)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.storage) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.storage) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/tljh/user/lib/python3.7/site-packages (from requests<3.0.0dev,>=2.18.0->google.cloud.storage) (2021.5.30)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in /home/jupyter-astine/.local/lib/python3.7/site-packages (from google-resumable-media<3.0dev,>=1.3.0; python_version >= "3.6"->google.cloud.storage) (1.1.2)
Requirement already satisfied: pyasn1>=0.1.3 in /home/jupyter-astine/.local/lib/python3.7/site-packages (from rsa<5,>=3.1.4; python_version >= "3.6"->google-auth<3.0dev,>=1.25.0; python_version >= "3.6"->google.cloud.storage) (0.4.8)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/tljh/user/lib/python3.7/site-packages (from packaging>=14.3->google-api-core<3.0dev,>=1.29.0; python_version >= "3.6"->google.cloud.storage) (2.4.7)
Requirement already satisfied: cffi>=1.0.0 in /opt/tljh/user/lib/python3.7/site-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<3.0dev,>=1.3.0; python_version >= "3.6"->google.cloud.storage) (1.12.3)
Requirement already satisfied: pycparser in /opt/tljh/user/lib/python3.7/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<3.0dev,>=1.3.0; python_version >= "3.6"->google.cloud.storage) (2.19)
Installing collected packages: google.cloud.storage
ERROR: Could not install packages due to an EnvironmentError: [Errno 13] Permission denied: '/opt/tljh/user/lib/python3.7/site-packages/google_cloud_storage-1.42.0-py3.9-nspkg.pth'
Consider using the `--user` option or check the permissions.

Collecting google-cloud-bigquery
  Cache entry deserialization failed, entry ignored
  Using cached https://files.pythonhosted.org/packages/fd/2a/d53b342d20e4b95ade480fa04977969166bb189bf0e909501e4fff86cb3f/google_cloud_bigquery-2.25.1-py2.py3-none-any.whl
Collecting protobuf>=3.12.0 (from google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/53/4e/e2db88d0bb0bda6a879eea62fddbaf813719ce3770d458bc5580512d9c95/protobuf-3.17.3-cp36-cp36m-manylinux_2_5_x86_64.manylinux1_x86_64.whl
Collecting requests<3.0.0dev,>=2.18.0 (from google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/92/96/144f70b972a9c0eabbd4391ef93ccd49d0f2747f4f6a2a2738e99e5adc65/requests-2.26.0-py2.py3-none-any.whl
Collecting grpcio<2.0dev,>=1.38.1 (from google-cloud-bigquery)
Collecting proto-plus>=1.10.0 (from google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/8c/72/6f3f4cdc5bb0294f8d7f3f8aacb617b4c3cb17554ed78f7e28009162c795/proto_plus-1.19.0-py3-none-any.whl
Collecting google-cloud-core<3.0.0dev,>=1.4.1 (from google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/42/b8/4ad3e423105d26a0c5eea54320aed57b7be060d1cd9faea53da713b408c6/google_cloud_core-2.0.0-py2.py3-none-any.whl
Collecting google-resumable-media<3.0dev,>=0.6.0 (from google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/2b/86/ff9b23ac7446ee224d0d7e5e64efc433aeef52b76662863873e03259ed0f/google_resumable_media-2.0.0-py2.py3-none-any.whl
Collecting packaging>=14.3 (from google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/3c/77/e2362b676dc5008d81be423070dd9577fa03be5da2ba1105811900fda546/packaging-21.0-py3-none-any.whl
Collecting google-api-core[grpc]<3.0.0dev,>=1.29.0 (from google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/8f/3c/6c64ce599505b5007e3b91ce9947030397f2bff591f52dbf708a0ccca4e1/google_api_core-2.0.1-py2.py3-none-any.whl
Collecting six>=1.9 (from protobuf>=3.12.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/d9/5a/e7c31adbe875f2abbb91bd84cf2dc52d792b5a01506781dbcf25c91daf11/six-1.16.0-py2.py3-none-any.whl
Collecting urllib3<1.27,>=1.21.1 (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/5f/64/43575537846896abac0b15c3e5ac678d787a4021e906703f1766bfb8ea11/urllib3-1.26.6-py2.py3-none-any.whl
Collecting certifi>=2017.4.17 (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/05/1b/0a0dece0e8aa492a6ec9e4ad2fe366b511558cdc73fd3abc82ba7348e875/certifi-2021.5.30-py2.py3-none-any.whl
Collecting charset-normalizer~=2.0.0; python_version >= "3" (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/33/53/b7f6126a2b9fd878b025fe3c40266cfaad696f312165008ce045bffa3fe7/charset_normalizer-2.0.4-py3-none-any.whl
Collecting idna<4,>=2.5; python_version >= "3" (from requests<3.0.0dev,>=2.18.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/d7/77/ff688d1504cdc4db2a938e2b7b9adee5dd52e34efbd2431051efc9984de9/idna-3.2-py3-none-any.whl
Collecting google-auth<3.0dev,>=1.24.0 (from google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/48/27/4e5c7edb04bd5bb19fd1ab6add5a429f54bc45676ba93ccfd4e5331ba928/google_auth-2.0.2-py2.py3-none-any.whl
Collecting google-crc32c<2.0dev,>=1.0 (from google-resumable-media<3.0dev,>=0.6.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/bb/36/dc98ccaffb0aae168100afe6954a5ce6f6c4ad11a31df507ccfe8b30b87a/google-crc32c-1.1.3.tar.gz
Collecting pyparsing>=2.0.2 (from packaging>=14.3->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/8a/bb/488841f56197b13700afd5658fc279a2025a39e22449b7cf29864669b15d/pyparsing-2.4.7-py2.py3-none-any.whl
Collecting googleapis-common-protos<2.0dev,>=1.6.0 (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/55/08/796a6bc0b550e2b7116041c953d3d5100016abea106131d71e5651826e7b/googleapis_common_protos-1.53.0-py2.py3-none-any.whl
Collecting setuptools>=40.3.0 (from google-api-core[grpc]<3.0.0dev,>=1.29.0->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/bd/25/5bdf7f1adeebd4e3fa76b2e2f045ae53ee208e40a4231ad0f0c3007e4353/setuptools-57.4.0-py3-none-any.whl
Collecting cachetools<5.0,>=2.0.0 (from google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/bf/28/c4f5796c67ad06bb91d98d543a5e01805c1ff065e08871f78e52d2a331ad/cachetools-4.2.2-py3-none-any.whl
Collecting pyasn1-modules>=0.2.1 (from google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/95/de/214830a981892a3e286c3794f41ae67a4495df1108c3da8a9f62159b9a9d/pyasn1_modules-0.2.8-py2.py3-none-any.whl
Collecting rsa<5,>=3.1.4 (from google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/e9/93/0c0f002031f18b53af7a6166103c02b9c0667be528944137cc954ec921b3/rsa-4.7.2-py3-none-any.whl
Collecting pyasn1<0.5.0,>=0.4.6 (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=1.24.0->google-cloud-core<3.0.0dev,>=1.4.1->google-cloud-bigquery)
  Using cached https://files.pythonhosted.org/packages/62/1e/a94a8d635fa3ce4cfc7f506003548d0a2447ae76fd5ca53932970fe3053f/pyasn1-0.4.8-py2.py3-none-any.whl
Building wheels for collected packages: google-crc32c
  Running setup.py bdist_wheel for google-crc32c ... error
  Complete output from command /usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-v7pjmtp2/google-crc32c/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d /tmp/tmp34e2rpyypip-wheel- --python-tag cp36:
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build/lib.linux-x86_64-3.6
  creating build/lib.linux-x86_64-3.6/google_crc32c
  copying src/google_crc32c/cext.py -> build/lib.linux-x86_64-3.6/google_crc32c
  copying src/google_crc32c/python.py -> build/lib.linux-x86_64-3.6/google_crc32c
  copying src/google_crc32c/__config__.py -> build/lib.linux-x86_64-3.6/google_crc32c
  copying src/google_crc32c/_checksum.py -> build/lib.linux-x86_64-3.6/google_crc32c
  copying src/google_crc32c/__init__.py -> build/lib.linux-x86_64-3.6/google_crc32c
  running build_ext
  building 'google_crc32c._crc32c' extension
  creating build/temp.linux-x86_64-3.6
  creating build/temp.linux-x86_64-3.6/src
  creating build/temp.linux-x86_64-3.6/src/google_crc32c
  x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -I/usr/include/python3.6m -c src/google_crc32c/_crc32c.c -o build/temp.linux-x86_64-3.6/src/google_crc32c/_crc32c.o
  src/google_crc32c/_crc32c.c:3:10: fatal error: crc32c/crc32c.h: No such file or directory
   #include <crc32c/crc32c.h>
            ^~~~~~~~~~~~~~~~~
  compilation terminated.
  error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

  ----------------------------------------
  Failed building wheel for google-crc32c
  Running setup.py clean for google-crc32c
Failed to build google-crc32c
Installing collected packages: six, protobuf, urllib3, certifi, charset-normalizer, idna, requests, grpcio, proto-plus, cachetools, pyasn1, pyasn1-modules, rsa, setuptools, google-auth, googleapis-common-protos, google-api-core, google-cloud-core, google-crc32c, google-resumable-media, pyparsing, packaging, google-cloud-bigquery
  Running setup.py install for google-crc32c ... error
    Complete output from command /usr/bin/python3 -u -c "import setuptools, tokenize;__file__='/tmp/pip-build-v7pjmtp2/google-crc32c/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-mk9ba6p9-record/install-record.txt --single-version-externally-managed --compile --user --prefix=:
    running install
    running build
    running build_py
    creating build
    creating build/lib.linux-x86_64-3.6
    creating build/lib.linux-x86_64-3.6/google_crc32c
    copying src/google_crc32c/cext.py -> build/lib.linux-x86_64-3.6/google_crc32c
    copying src/google_crc32c/python.py -> build/lib.linux-x86_64-3.6/google_crc32c
    copying src/google_crc32c/__config__.py -> build/lib.linux-x86_64-3.6/google_crc32c
    copying src/google_crc32c/_checksum.py -> build/lib.linux-x86_64-3.6/google_crc32c
    copying src/google_crc32c/__init__.py -> build/lib.linux-x86_64-3.6/google_crc32c
    running build_ext
    building 'google_crc32c._crc32c' extension
    creating build/temp.linux-x86_64-3.6
    creating build/temp.linux-x86_64-3.6/src
    creating build/temp.linux-x86_64-3.6/src/google_crc32c
    x86_64-linux-gnu-gcc -pthread -DNDEBUG -g -fwrapv -O2 -Wall -g -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -I/usr/include/python3.6m -c src/google_crc32c/_crc32c.c -o build/temp.linux-x86_64-3.6/src/google_crc32c/_crc32c.o
    src/google_crc32c/_crc32c.c:3:10: fatal error: crc32c/crc32c.h: No such file or directory
     #include <crc32c/crc32c.h>
              ^~~~~~~~~~~~~~~~~
    compilation terminated.
    error: command 'x86_64-linux-gnu-gcc' failed with exit status 1

    ----------------------------------------

## Basic Query
Here is a simple query to find 5 runs submitted for the organsim 'Homo sapiens' from the nih-sra-datastore project. This query searches for all columns in the metadata table from the sra database in the project. We will filter for only the rows where the organism name is 'Homo sapiens' and limit the output to only the first 5 rows by using the LIMIT function. One limitation of our view in Jupyter is only 20 columns are displayed. At the bottom of the results you will see 5 rows X 36 columns. But if you look closely there are 16 columns that are not visible in the middle of the output chart.

In [4]:
%%bigquery
SELECT *
FROM `nih-sra-datastore.sra.metadata`
WHERE organism = 'Homo sapiens'
LIMIT 5

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 1737.49query/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00,  7.33rows/s]

,acc,assay_type,center_name,consent,experiment,sample_name,instrument,librarylayout,libraryselection,librarysource,...,geo_loc_name_country_continent_calc,geo_loc_name_sam,ena_first_public_run,ena_last_update_run,sample_name_sam,datastore_filetype,datastore_provider,datastore_region,attributes,jattr
0,SRR15278393,RNA-Seq,EMORY UNIVERSITY,public,SRX11583084,2815176,Illumina HiSeq 1000,PAIRED,PolyA,TRANSCRIPTOMIC,...,None,[],[],[],[],"[fastq, sra]","[gs, ncbi, s3]","[gs.US, ncbi.public, s3.us-east-1]","[{'k': 'bases', 'v': '9518138700'}, {'k': 'byt...","{""bases"": 9518138700, ""bytes"": 3239993193, ""ag..."
1,SRR15278347,RNA-Seq,EMORY UNIVERSITY,public,SRX11583130,919115,Illumina HiSeq 1000,PAIRED,PolyA,TRANSCRIPTOMIC,...,None,[],[],[],[],"[fastq, sra]","[gs, ncbi, s3]","[gs.US, ncbi.public, s3.us-east-1]","[{'k': 'bases', 'v': '9340662300'}, {'k': 'byt...","{""bases"": 9340662300, ""bytes"": 2922928789, ""ag..."
2,SRR15065199,AMPLICON,THE OPEN UNIVERSITY OF ISRAEL,public,SRX11375204,GSM5412973,Illumina HiSeq 2500,PAIRED,PCR,METAGENOMIC,...,None,[],[],[],[],"[fastq, sra]","[gs, ncbi, s3]","[gs.US, ncbi.public, s3.us-east-1]","[{'k': 'bases', 'v': '188792856'}, {'k': 'byte...","{""bases"": 188792856, ""bytes"": 85176148, ""age_s..."
3,SRR15065057,AMPLICON,THE OPEN UNIVERSITY OF ISRAEL,public,SRX11375346,GSM5412928,Illumina HiSeq 2500,PAIRED,PCR,METAGENOMIC,...,None,[],[],[],[],"[fastq, sra]","[gs, ncbi, s3]","[gs.US, ncbi.public, s3.us-east-1]","[{'k': 'bases', 'v': '409589460'}, {'k': 'byte...","{""bases"": 409589460, ""bytes"": 186427640, ""age_..."
4,SRR15065033,AMPLICON,THE OPEN UNIVERSITY OF ISRAEL,public,SRX11375370,GSM5412909,Illumina HiSeq 2500,PAIRED,PCR,METAGENOMIC,...,None,[],[],[],[],"[fastq, sra]","[gs, ncbi, s3]","[gs.US, ncbi.public, s3.us-east-1]","[{'k': 'bases', 'v': '245428848'}, {'k': 'byte...","{""bases"": 245428848, ""bytes"": 103593882, ""age_..."

## Searching Other Tables
The second database in the nih-sra-datastore project contains data from the SRA Taxonomy Analysis Tool (STAT) as well as some from the Taxonomy database. The analysis will use the Taxonomy Database Identifier (tax ID) in the results. You can find the tax_id for any entry in the taxonomy table using a search like the one below.

In [22]:
%%bigquery
SELECT * 
FROM `nih-sra-datastore.sra_tax_analysis_tool.taxonomy`
WHERE sci_name = 'Homo sapiens'

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 651.90query/s]
Downloading: 100%|██████████| 1/1 [00:00<00:00,  1.51rows/s]

,tax_id,parent_id,rank,sci_name,names,ilevel,ileft,iright
0,9606,9605,species,Homo sapiens,"[{'name': 'Home sapiens', 'name_class': 'missp...",30,212230,212231

## Finding How the Database is Organized and Listing Columns
We can use the query below to get a listing of the columns in the database schema. This can be useful to see all the names of columns in a table as well as seeing what type of data is in them. The SQL format requires single quotes around string values in searches but no quotes for integers.

In [23]:
%%bigquery
SELECT * FROM `nih-sra-datastore.sra`.INFORMATION_SCHEMA.COLUMNS

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 971.35query/s]
Downloading: 100%|██████████| 36/36 [00:00<00:00, 44.26rows/s]

,table_catalog,table_schema,table_name,column_name,ordinal_position,is_nullable,data_type,is_generated,generation_expression,is_stored,is_hidden,is_updatable,is_system_defined,is_partitioning_column,clustering_ordinal_position
0,nih-sra-datastore,sra,metadata,acc,1,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
1,nih-sra-datastore,sra,metadata,assay_type,2,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
2,nih-sra-datastore,sra,metadata,center_name,3,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
3,nih-sra-datastore,sra,metadata,consent,4,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
4,nih-sra-datastore,sra,metadata,experiment,5,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
5,nih-sra-datastore,sra,metadata,sample_name,6,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
6,nih-sra-datastore,sra,metadata,instrument,7,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
7,nih-sra-datastore,sra,metadata,librarylayout,8,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
8,nih-sra-datastore,sra,metadata,libraryselection,9,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
9,nih-sra-datastore,sra,metadata,librarysource,10,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
10,nih-sra-datastore,sra,metadata,platform,11,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
11,nih-sra-datastore,sra,metadata,sample_acc,12,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
12,nih-sra-datastore,sra,metadata,biosample,13,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
13,nih-sra-datastore,sra,metadata,organism,14,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
14,nih-sra-datastore,sra,metadata,sra_study,15,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
15,nih-sra-datastore,sra,metadata,releasedate,16,YES,TIMESTAMP,NEVER,None,None,NO,None,NO,NO,NaN
16,nih-sra-datastore,sra,metadata,bioproject,17,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
17,nih-sra-datastore,sra,metadata,mbytes,18,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
18,nih-sra-datastore,sra,metadata,loaddate,19,YES,TIMESTAMP,NEVER,None,None,NO,None,NO,NO,NaN
19,nih-sra-datastore,sra,metadata,avgspotlen,20,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
20,nih-sra-datastore,sra,metadata,mbases,21,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
21,nih-sra-datastore,sra,metadata,insertsize,22,YES,INT64,NEVER,None,None,NO,None,NO,NO,NaN
22,nih-sra-datastore,sra,metadata,library_name,23,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
23,nih-sra-datastore,sra,metadata,biosamplemodel_sam,24,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
24,nih-sra-datastore,sra,metadata,collection_date_sam,25,YES,DATE,NEVER,None,None,NO,None,NO,NO,NaN
25,nih-sra-datastore,sra,metadata,geo_loc_name_country_calc,26,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
26,nih-sra-datastore,sra,metadata,geo_loc_name_country_continent_calc,27,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN
27,nih-sra-datastore,sra,metadata,geo_loc_name_sam,28,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
28,nih-sra-datastore,sra,metadata,ena_first_public_run,29,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
29,nih-sra-datastore,sra,metadata,ena_last_update_run,30,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
30,nih-sra-datastore,sra,metadata,sample_name_sam,31,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
31,nih-sra-datastore,sra,metadata,datastore_filetype,32,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
32,nih-sra-datastore,sra,metadata,datastore_provider,33,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
33,nih-sra-datastore,sra,metadata,datastore_region,34,NO,ARRAY<STRING>,NEVER,None,None,NO,None,NO,NO,NaN
34,nih-sra-datastore,sra,metadata,attributes,35,NO,"ARRAY<STRUCT<k STRING, v STRING>>",NEVER,None,None,NO,None,NO,NO,NaN
35,nih-sra-datastore,sra,metadata,jattr,36,YES,STRING,NEVER,None,None,NO,None,NO,NO,NaN

## Joining Two (or more) Tables
Using a JOIN command will allow you to combine two different tables to find the information you are looking for. This allows data to be stored most efficiently in the database but also allows a user to view the information in a way they find easiest to understand. Below we'll combine the two queries from before. When specifying multiple tables to search we can also give an abbreviated name to the table ('meta' and 'tax' in the query below) to make the rest of the query easier to type and read.
When joining two or more tables we will need to tell the database which columns in the two tables are expected to align or have the same content. We need a field that can be used to link each table. This value is what we are joining "on" in the statement. In this case we are using 'organism' from the metadata table and 'sci_name' from the taxonomy table. Often in a database the columns used to join two tables will have the same name. But that is not always the case, this is one example.

In [25]:
%%bigquery
SELECT *
FROM `nih-sra-datastore.sra.metadata` meta 
    JOIN `nih-sra-datastore.sra_tax_analysis_tool.taxonomy` tax
    ON meta.organism = tax.sci_name
WHERE tax.tax_id = 9606
    AND meta.organism = 'Homo sapiens'
LIMIT 5

Query complete after 0.00s: 100%|██████████| 4/4 [00:00<00:00, 3118.44query/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00,  6.81rows/s]

,acc,assay_type,center_name,consent,experiment,sample_name,instrument,librarylayout,libraryselection,librarysource,...,attributes,jattr,tax_id,parent_id,rank,sci_name,names,ilevel,ileft,iright
0,ERR2511560,AMPLICON,"BIOINFORMATICS LAB, INNOVATION CENTER",public,ERX2530975,SAMEA1116178,Ion S5,SINGLE,PCR,METAGENOMIC,...,"[{'k': 'bases', 'v': '171494517'}, {'k': 'byte...","{""bases"": 171494517, ""bytes"": 140015172, ""alia...",9606,9605,species,Homo sapiens,"[{'name': 'Home sapiens', 'name_class': 'missp...",30,212230,212231
1,ERR2511826,AMPLICON,"BIOINFORMATICS LAB, INNOVATION CENTER",public,ERX2531241,SAMEA1116444,Ion S5,SINGLE,PCR,METAGENOMIC,...,"[{'k': 'bases', 'v': '163581768'}, {'k': 'byte...","{""bases"": 163581768, ""bytes"": 132336304, ""alia...",9606,9605,species,Homo sapiens,"[{'name': 'Home sapiens', 'name_class': 'missp...",30,212230,212231
2,ERR2511209,AMPLICON,"BIOINFORMATICS LAB, INNOVATION CENTER",public,ERX2530624,SAMEA1115827,Ion S5,SINGLE,PCR,METAGENOMIC,...,"[{'k': 'bases', 'v': '191747089'}, {'k': 'byte...","{""bases"": 191747089, ""bytes"": 160929514, ""alia...",9606,9605,species,Homo sapiens,"[{'name': 'Home sapiens', 'name_class': 'missp...",30,212230,212231
3,ERR2511604,AMPLICON,"BIOINFORMATICS LAB, INNOVATION CENTER",public,ERX2531019,SAMEA1116222,Ion S5,SINGLE,PCR,METAGENOMIC,...,"[{'k': 'bases', 'v': '206745187'}, {'k': 'byte...","{""bases"": 206745187, ""bytes"": 165491895, ""alia...",9606,9605,species,Homo sapiens,"[{'name': 'Home sapiens', 'name_class': 'missp...",30,212230,212231
4,ERR2511369,AMPLICON,"BIOINFORMATICS LAB, INNOVATION CENTER",public,ERX2530784,SAMEA1115987,Ion S5,SINGLE,PCR,METAGENOMIC,...,"[{'k': 'bases', 'v': '167396357'}, {'k': 'byte...","{""bases"": 167396357, ""bytes"": 134853975, ""alia...",9606,9605,species,Homo sapiens,"[{'name': 'Home sapiens', 'name_class': 'missp...",30,212230,212231

## Selecting Fewer Columns
Using * in the select statement will show all the columns in the table. Often we don't need or want all of the columns so we can show only the columns we are interested in. We do this by listing the columns we want in the select statement.

In [26]:
%%bigquery
SELECT meta.acc, meta.assay_type, meta.instrument, meta.libraryselection, meta.librarysource, tax.sci_name
FROM `nih-sra-datastore.sra.metadata` meta 
    JOIN `nih-sra-datastore.sra_tax_analysis_tool.taxonomy` tax
    ON meta.organism = tax.sci_name
WHERE tax.tax_id = 9606
    AND meta.organism = 'Homo sapiens'
    AND meta.assay_type = 'RNA-Seq'
    AND meta.consent = 'public'
LIMIT 5

Query complete after 0.00s: 100%|██████████| 4/4 [00:00<00:00, 3520.93query/s]
Downloading: 100%|██████████| 5/5 [00:00<00:00,  6.10rows/s]

,acc,assay_type,instrument,libraryselection,librarysource,sci_name
0,SRR12245574,RNA-Seq,HiSeq X Ten,PolyA,TRANSCRIPTOMIC,Homo sapiens
1,SRR15667241,RNA-Seq,Illumina HiSeq 2500,cDNA,TRANSCRIPTOMIC,Homo sapiens
2,SRR15667236,RNA-Seq,Illumina HiSeq 2500,cDNA,TRANSCRIPTOMIC,Homo sapiens
3,SRR14683905,RNA-Seq,Illumina NovaSeq 6000,cDNA,TRANSCRIPTOMIC,Homo sapiens
4,SRR14683915,RNA-Seq,Illumina NovaSeq 6000,cDNA,TRANSCRIPTOMIC,Homo sapiens

## Using Where Clauses to Find Data of Interest
Now let's look at an example for someone who wants to do an alignment. We will combine some ideas from before as well as ad some math into the search. If you wanted to use the PGAP package from NCBI, you would want data that has a high percentage (we'll use 90% as our minimum) of only one species to generate an assembly and annotation for. We can use the output from STAT to do this. 

We want to make an assembly and annotation for Listeria monocytogenes. 
1. We'll use the taxid (1639) to search the tax_id column in the tax_analysis table. 
2. To know what proportion of the spots have been identified to the taxid we are searching for, we also need to use the total analyzed_spot_count from the tax_analysis_info table for each run. 
3. We will need to join these two tables on the run accession (acc) to run this query.

Finally we can sort by the proportion of the spots that were identified as being from the taxid we want to search.

In [29]:
%%bigquery
SELECT a.acc, a.name, info.analyzed_spot_count, a.self_count, a.self_count/info.analyzed_spot_count as proportion
FROM `nih-sra-datastore.sra_tax_analysis_tool.tax_analysis` a 
    JOIN `nih-sra-datastore.sra_tax_analysis_tool.tax_analysis_info` info 
    ON a.acc = info.acc
WHERE a.tax_id = 1639
    AND a.self_count/info.analyzed_spot_count > .9
    AND info.analyzed_spot_count > 100000
ORDER BY proportion DESC

Query complete after 0.00s: 100%|██████████| 4/4 [00:00<00:00, 3391.39query/s]
Downloading: 100%|██████████| 16153/16153 [00:01<00:00, 15628.64rows/s]

,acc,name,analyzed_spot_count,self_count,proportion
0,ERR1817002,Listeria monocytogenes,608593,594332,0.976567
1,ERR1816986,Listeria monocytogenes,692180,673720,0.973331
2,ERR1816981,Listeria monocytogenes,630954,613122,0.971738
3,ERR1816996,Listeria monocytogenes,593342,575904,0.970611
4,ERR1431120,Listeria monocytogenes,3249346,3153217,0.970416
...,...,...,...,...,...
16148,SRR10665812,Listeria monocytogenes,510003,459009,0.900012
16149,SRR2071980,Listeria monocytogenes,1336913,1203238,0.900012
16150,SRR6038661,Listeria monocytogenes,749339,674410,0.900007
16151,ERR1230393,Listeria monocytogenes,803265,722940,0.900002
16152,SRR2061198,Listeria monocytogenes,352405,317165,0.900001

In [28]:
%%bigquery
SELECT count(meta.acc) as count, meta.geo_loc_name_country_calc
FROM `nih-sra-datastore.sra.metadata` meta , `nih-sra-datastore.sra_tax_analysis_tool.tax_analysis` tax
WHERE meta.acc = tax.acc
    and tax.name = 'Coronaviridae'
    and meta.geo_loc_name_country_calc is NOT NULL
GROUP BY meta.geo_loc_name_country_calc
ORDER by 1 DESC

Query complete after 0.00s: 100%|██████████| 5/5 [00:00<00:00, 3950.18query/s]
Downloading: 100%|██████████| 119/119 [00:00<00:00, 191.00rows/s]

      count geo_loc_name_country_calc
0    366105                       USA
1    196962            United Kingdom
2     17804                   Ireland
3     15778                     Spain
4     15653                 Australia
..      ...                       ...
114       1            American Samoa
115       1                    Rwanda
116       1                      Chad
117       1                Kyrgyzstan
118       1                Madagascar

[119 rows x 2 columns]